<form #f="ngForm">
    <input type="hidden" name="id" [(ngModel)]="user.id">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input [(ngModel)]="user.name" name="firstname" id="firstname">
        <!-- Eseguo una copia l'oggetto, dato che qui si passa solo un riferimento altrimenti
             se passassi l'oggetto originale:
             - Parentesi tonde e quadre [(ngModel)]: cambio in real time anche sulla tabella (passato per riferimento)
             - Parentesi quadre [ngModel]: one way data binding (solo per compilare il form)-->
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input [(ngModel)]="user.lastname" name="lastname" id="lastname">
    </div>
    <div class="form-group">
        <label for="fiscalcode">Fiscal code</label>
        <input [(ngModel)]="user.fiscalcode" name="fiscalcode" id="fiscalcode">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="user.email" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="province">Province</label>
        <input [(ngModel)]="user.province" name="province" id="province">
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input [(ngModel)]="user.phone" name="phone" id="phone">
    </div>
    <div class="form-group form-footer">
        <button (click)="saveUser()" class="btn-save">Save</button> &nbsp;
        <button (click)="resetForm(f.form)">Reset</button>
    </div>
</form>